/* Navbar menu - Start */

.navbar-nav {
    margin-left: 20px;

}

.nav-item .nav-link {

    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 18px;
    transition: 0, 5s ease;
}

.nav-item .nav-link:hover {
    background-color: lightgreen;
    transition: 1s ease;
}

.logophoto {
    left: 20px;
    height: 80px;
    width: 80px;

}

.logotext {
    margin-left: 20px;
    color: rgb(41, 148, 41);
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif
}

.righttext {
    margin-right: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color: rgb(41, 148, 41);
}


/* Navbar menu - End */


/* Main photo - Start */

.mainphotos {
    width: 100%;
    height: 80%;
    background-repeat: no-repeat;
}

.carousel-caption {
    margin-bottom: 30px;
}

.monasterytitle {
    color: #ffffff;
    font-size: 50px;
}

.monasterysubtitle {
    color: #ffffff;
    font-size: 30px;
    margin-bottom: 40px;
}

/* Main photo - End */


/* Book Table - Start */

.background {
    background-image: url(../photos/Goshlake.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.booking-form {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    width: 80%;
    margin: 0 auto;
}

.booking-form h2 {
    text-align: center;
}

.booking-form form {
    display: flex;
    flex-direction: column;
}

.booking-form input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.booking-form button {
    margin-top: 10px;
    padding: 10px;
    background-color: lightblue;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

.booking-form button:hover {
    background-color: lightcoral;
    transition: 1s ease;

}

/* Section Services - Start */

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    gap: 40px;
}

.grid-item {
    /* padding: 50px; */
    font-size: 20px;
    text-align: center;
}

.grid-item .photo {
    width: 375px;
    height: 376px;
}

.main-txt h1 {
    text-align: center;
    margin-top: 30px;
    font-weight: 600;
    text-shadow: 0px 1px 1px black;
    color: #ffa500;
}

.packages .grid-container {
    border-radius: 5px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.checked {
    color: #ffa500;
}

.grid-container h5 {
    margin-top: 20px;
    margin-bottom: 30px;
}

.packages .grid-container .grid-item a {
    padding: 10px;
    text-decoration: none;
    background: #ffa500;
    color: #ffffff;
    border-radius: 5px;
}